<div></div>
<div class="row bg-dark">

    <div class="col-lg-6 col-xl-6">

        <img src="/assets/img/err1.jpg" width="1091">

    </div>
    <div class="col-lg-4 col-xl-4">
        <div class="row" style="height: 40%;">
            <div class="col-lg-6 col-xl-6 ">
                <marquee direction=right>
                    <h1 class="checkoutAnthr text-danger"> --------------ERROR!!!--------------- </h1>
                </marquee>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-6 " style="margin-left: 20em;">
                <p class="text-success">Do you want to return home page?...</p>
                <a class="btn btn-outline-light" href="/home"><i class="fa-solid fa-house-user"></i> Click here</a>
                
            </div>
        </div>

    </div>

<div style="color: white;">
                <H3>Something went wrong...</H3>
                <h1>{{message}}</h1>
                <h2>{{error.status}}</h2>
                <pre>{{error.stack}}</pre>
                </div>

</div>