<section>
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 text-center mt-5 pt-5">
                
                <img src="/assets/img/err1.jpg" alt="" width="50%">
            </div>
        </div>
    </div>
</section>
    <div>        
        <h1>{{message}}</h1>
        <h2>{{error.status}}</h2>
        <pre>{{error.stack}}</pre>
    </div>
