<section class="lognMdfy w-100">
		
		<div class="row mt-4">
			<div class=" col-lg-3 col-xl-3 mt-5 ">

			</div>
			<div class="col-12 col-lg-3 col-xl-3 mt-5 ">
				<img src="/assets/img/login_image.png" alt="login">
			</div>
			<div class="col-12 col-lg-3 col-xl-3 mt-5 ">


				{{!-- <h2 class="text-center">Login</h2> --}}
				<form action="/login" method="post" class="editColor">

					{{#if loginErr}}

					<p class="error text-danger">{{loginErr}}</p>
					{{/if}}

					<div class=" mb-3">
						<label for="exampleInputEmail1" class="form-label">Email address</label>
						<input type="email" class="form-control" id="" aria-describedby="emailHelp" name="email"
							required>
						<div id="emailHelp" class="form-text ">We'll never share your email with anyone else.</div>
					</div>
					<div class=" mb-3">
						<label for="exampleInputPassword1" class="form-label">Password</label>
						<input type="password" class="form-control" id="" name="password" required>
					</div>
					<button type="submit" class="btn btn-primary" style="float:right;">Login</button>
					<br>

				</form>
				<h3>New customer...</h3>
				<p class="text-muted">
					If you are not a member, you need to go to register page and create an account.
					By creating an account with our store, you will be able to move through
					the checkout process faster, store multiple shipping addresses, view and
					track your orders in your account and more.
					<a href="/signup">Create a new account ?</a>
				</p>
				<a href="/home"><i class="fa-solid fa-house"></i> home</a>
			</div>
			<div class=" col-lg-3 col-xl-3 mt-5 ">

			</div>
		</div>
	
</section>


<!-- Start Footer -->
{{!-- <footer class="bg-dark loginMargin" id="tempaltemo_footer">
	<div class="container">
		<div class="row">

			<div class="col-md-4 pt-5">
				<h2 class="h2 text-success border-bottom pb-3 border-light logo">SHB Shop</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li>
						<i class="fas fa-map-marker-alt fa-fw"></i>
						123 Kinfra at 10660
					</li>
					<li>
						<i class="fa fa-phone fa-fw"></i>
						<a class="text-decoration-none" href="tel:010-020-0340">+00 000 000 0000</a>
					</li>
					<li>
						<i class="fa fa-envelope fa-fw"></i>
						<a class="text-decoration-none" href="mailto:info@company.com">shb@company.com</a>
					</li>
				</ul>
			</div>

			<div class="col-md-4 pt-5">
				<h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li><a class="text-decoration-none" href="#">Home</a></li>
					<li><a class="text-decoration-none" href="#">About Us</a></li>
					<li><a class="text-decoration-none" href="#">Shop Locations</a></li>
					<li><a class="text-decoration-none" href="#">Contact</a></li>
				</ul>
			</div>

		</div>

		<div class="row text-light mb-4">
			<div class="col-12 mb-3">
				<div class="w-100 my-3 border-top border-light"></div>
			</div>
			<div class="col-auto me-auto">
				<ul class="list-inline text-left footer-icons">
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-facebook-f fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-instagram fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-twitter fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-linkedin fa-lg fa-fw"></i></a>
					</li>
				</ul>
			</div>
			<div class="col-auto">
				<label class="sr-only" for="subscribeEmail">Email address</label>
				<div class="input-group mb-2">
					<input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
						placeholder="Email address">
					<div class="input-group-text btn-success text-light">Subscribe</div>
				</div>
			</div>
		</div>
	</div>

	<div class="w-100 bg-black py-3">
		<div class="container">
			<div class="row pt-2">
				<div class="col-12">
					<p class="text-left text-light">
						Copyright &copy; 2021 SHB
						| Designed by <a rel="sponsored" href="#" target="_blank">shb</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</footer> --}}
<!-- End Footer -->