<section>

    <div class="row mt5">

        <div class="col-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <div class="container">
                <img src="assets/img/otp1.png" width="600" alt="otp">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row mt-5">
        <div class="col-3 col-md-4 col-lg-4 col-xl-4">

        </div>

        <div class="col-6 col-md-4 col-lg-4 col-xl-4">

            <input type="text" class="form-control " name="otp" id="otpID" placeholder="Enter your OTP" required>
            <div class="row">
                <button class="btn btn-outline-primary" id="otp" onclick="otpVerify()">Verify OTP..</button>
            </div>

            <div class="col-3 col-md-4 col-lg-4 col-xl-4 ">

            </div>
        </div>
    </div>
    <div class="row text-center">
        <span type="text" class="error text-danger" id="wrong"></span>
    </div>
</section>