<section>
<form action="/signUpOtpVerify" method="post">
<div class="mb-3">
    <input type="text" class="form-control" id="recipient-name" name="otp" placeholder="Enter your OTP">

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">Verify OTP..</button>
</div>
</form>
</section>