<section class="signupPage  mt-3">


    {{!-- <img src="/assets/img/shape.png" width="200em"> --}}
  <div class="container">
    <div class="row">

        <div class="col-md-4 m-auto  editColor mt-5">
          

                <h2 class="text-center">Register your account</h2>
                <form action="/register" method="post" id="mysignupform">
                <div class="progress" style="height: 2px;">
                    <div class="progress-bar bg-success" role="progressbar" id="progressID" aria-valuenow="25"
                        aria-valuemin="50" aria-valuemax="80"></div>
                </div>               
                    <div class="mb-3">
                        <label for="" class="form-label">User name</label>
                        <input type="text" class="form-control" id="namefield" name="name" value="{{name}}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailfield" 
                         aria-describedby="emailHelp" name="email">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        {{#if emailErr}}
                        
                        <script>
                            a = 10
                            const id = setInterval(function () {
                                a = a + 2
                                if (a == "80") clearInterval(id)
                                else
                                    document.getElementById('progressID').style.width = a + "%"
                            }, 20)
                            
                        </script> 
                        {{/if}}
                       <label style="color: red;" id="emailEr">{{emailErr}}</label>
                        
                    </div>
                    <label for="exampleInputEmail1" class="form-label">Mobile</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="mobilefield" name="mobile" value="{{mobile}}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordfield" name="password">
                    </div>
                    <a href="/login" style="font-size:small; color: blue;">Allready have account ?</a>
                    <a href="/home"><i class="fa-solid fa-house"></i> home</a>
                    <button type="submit"  class="btn btn-primary" style="float:right;"> Register</button>
                </form>
                    
               

            </div>
        </div>
    </div>
</section><br>

<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
	<div class="container">
		<div class="row">

			<div class="col-md-4 pt-5">
				<h2 class="h2 text-success border-bottom pb-3 border-light logo">SHB Shop</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li>
						<i class="fas fa-map-marker-alt fa-fw"></i>
						123 Kinfra at 10660
					</li>
					<li>
						<i class="fa fa-phone fa-fw"></i>
						<a class="text-decoration-none" href="tel:010-020-0340">+00 000 000 0000</a>
					</li>
					<li>
						<i class="fa fa-envelope fa-fw"></i>
						<a class="text-decoration-none" href="mailto:info@company.com">shb@company.com</a>
					</li>
				</ul>
			</div>

			<div class="col-md-4 pt-5">
				<h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li><a class="text-decoration-none" href="#">Home</a></li>
					<li><a class="text-decoration-none" href="#">About Us</a></li>
					<li><a class="text-decoration-none" href="#">Shop Locations</a></li>
					<li><a class="text-decoration-none" href="#">Contact</a></li>
				</ul>
			</div>

		</div>

		<div class="row text-light mb-4">
			<div class="col-12 mb-3">
				<div class="w-100 my-3 border-top border-light"></div>
			</div>
			<div class="col-auto me-auto">
				<ul class="list-inline text-left footer-icons">
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-facebook-f fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-instagram fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-twitter fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-linkedin fa-lg fa-fw"></i></a>
					</li>
				</ul>
			</div>
			<div class="col-auto">
				<label class="sr-only" for="subscribeEmail">Email address</label>
				<div class="input-group mb-2">
					<input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
						placeholder="Email address">
					<div class="input-group-text btn-success text-light">Subscribe</div>
				</div>
			</div>
		</div>
	</div>

	<div class="w-100 bg-black py-3">
		<div class="container">
			<div class="row pt-2">
				<div class="col-12">
					<p class="text-left text-light">
						Copyright &copy; 2021 SHB
						| Designed by <a rel="sponsored" href="#" target="_blank">shb</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</footer>
<!-- End Footer -->


<script>


    $(document).ready(function () {
        $("#mysignupform").validate({
            rules: {
                name: {
                    required: true,
                    lettersonly: true

                },
                email: {
                    required: true
                    
                },
                mobile: {
                    required: true,
                    number:true
                },

                password: {
                    required: true,
                    minlength:3,
                    maxlength: 5
                }
            }
        })

    })
</script>