<section>
    
    <div class="row">
        <div class="col-md-4 m-auto">
            <div class="container mt-5 pt-5">
                <h1 class="text-center text-danger">Blocked !</h1>
            <div class="mb-3 text-warning">
               <h3 class="m-auto"><span class="text-success"> Mr. {{user.name}}</span>  Your account has been blocked ... </h3>
               <p class="text-primary"> For more information please connect to our customer care ...</p>
               <h6 class="text-primary">PH: +91 9874 456 123</h6>
        </div>
        </div>
    </div>
</section>