<div class="row text-center profile">
    <div class="col-12 col-md-12 col-lg-12 col-Xl-12">
        <h2 class="text-success">Your Profile...</h2>
        <img src="/assets/img/dotprof.jpg" width="100%" height="80">

    </div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-md-4 col-lg-4 col-Xl-4 p-5 bg-light" style="height: 200%;">
            <div class="text-center ">
                <p>View profile...</p>
                <div>
                    <img src="/assets/img/user.jpg" class="rounded-circle" alt="Image" width="175" height="170">
                </div>
                <div class="text-muted">
                    <p>Name: Shuhaib</p>
                    <p>Email: shshuaib99@gmail.com</p>
                    <p>Mobile: 456123</p>
                    <p>Location: ...</p>
                </div>
                <button class="btn btn-outline-success">
                    <i class="fa-solid fa-file-pen"></i></button>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-Xl-4 editColor">
            <h6><u> Edit profile </u></h6>
            <form action="" method="">
                <div class="form-floating ">
                    <input type="text" class="form-control " id="inputEmail4" name="name" placeholder="name" required>
                    <label for="floatingInput">First name</label>
                </div><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="name" required>
                    <label for="floatingInput">Last name</label>
                </div><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="name" required>
                    <label for="floatingInput">Alternate mobile</label>
                </div><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="name" required>
                    <label for="floatingInput">Age</label>
                </div><br>
                <label>Gender : 
                    <input type="radio" name="payment-method" value="Male" checked>
                    Male
                </label>

                <label>
                    <input type="radio" name="payment-method" value="Female">
                    Female
                </label><br><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="name" required>
                    <label for="floatingInput">Address</label>
                </div><br>
                <label for="" class="form-label">Your photo</label>
                <input class="form-control btn btn-outline-success" type="file" id="img" name="img">
                <div class="text-end p-1">
                    <button class="btn btn-outline-success">Submit</button>
                </div>
            </form>
        </div>


        <div class="col-12 col-md-4 col-lg-4 col-Xl-4 p-5 editColor">
            <form action="" method="">
                <p class="text-warning">Do you want to change your password?</p>
                <div class="form-floating ">
                    <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="name" required>
                    <label for="floatingInput">Exist Password</label>
                </div><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="name" required>
                    <label for="floatingInput">New password</label>
                </div>
                <div class="text-end p-1">
                    <button class="btn btn-outline-success">Create</button>
                </div>
            </form>
        </div>


    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-Xl-12">
            2:2
        </div>
    </div>
</div>