<div class="container">

    <section>
        <div class="d-flex justify-content-center bdrShdw editColor">
            <form action="/admin/add_product" method="POST" id="addproduct" enctype="multipart/form-data">
                <p>Add &nbsp;<span><b><u>Products</u></b></span> </p>
                
                    <label for="floatingInput">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="" ><br>
                    
                    <label>Price</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder=""
                       min="1" step="1" ><br>
                
                    <label>Size</label>
                    <input type="text" class="form-control" id="size" placeholder="" name="size" >
                    <br>
                
                <select class="form-select" aria-label="Default select example" name="category">
                    <option ></option>
                    {{#each category}}
                    <option value="{{this._id}}" >{{this.name}}</option>
                    {{/each}}
                </select><br>
                
                    <label >Quantity</label>
                    <input type="number" class="form-control" id="qty" placeholder="" min="0" step="1"
                        name="qty" ><br>
                
                    <label >Description </label>
                    <input type="text" class="form-control" id="description" placeholder="" name="description"
                        ><br>
                    
                <label for="" class="form-label">Images</label>
                <input class="form-control btn btn-outline-success" type="file" id="img" name="img" multiple required>
                <div class="ms-auto">
                    <button type="submit" class="btn btn-outline-success"> <i
                            class="fa-solid fa-cloud-arrow-up"></i>Save</button>
                </div>


            </form>
        </div>

    </section>
</div>

<script>
    $(document).ready(function () {
        $("#addproduct").validate({
            rules: {
                name: {
                    required: true,
                    lettersonly: true

                },
                price: {
                    required: true,
                    number:true
                },
                size: {
                    required: true
                    
                },
                category: {
                    required: true
                    
                },
                qty: {
                   required: true,
                    number:true
                },
                description:{
                    required:true
                }
            }
        })

    })
</script>