<div class="container">
    <header>
        <div class="row  text-center">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <h4><span class="text-success">SHB</span> online hub Administrator</h4>
            </div>
        </div>

    </header>
    <hr>

    <section>
        <div class="d-flex justify-content-center bdrShdw">
            <form action="/admin/add_product" method="POST" enctype="multipart/form-data">
                <p>Add &nbsp;<span><b><u>Products</u></b></span> </p>
                <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="name" required>
                <br>
                <input type="number" class="form-control" id="inputAddress" name="price" placeholder="price" required>
                <br>
                <input type="text" class="form-control" id="inputAddress" placeholder="Size" name="size" required>
                <br>
                {{!-- add Categories from collection --}}

                <select class="form-select" aria-label="Default select example" name="category">
                    <option selected>Select Category</option>
                    {{#each category}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select><br>

                <input type="number" class="form-control" id="inputAddress" placeholder="Qauantity" name="qty" required>
                <br>

                <input type="text" class="form-control" id="inputCity" placeholder="Description" name="description"
                    required>
                <br>
                <label for="inputCity" class="form-label">Image</label>
                <input class="form-control" type="file" id="formFile" name="img" required>
                <div class=""><button type="submit" class="btn btn-primary mt-2">Save</button></div>


            </form>
        </div>

    </section>
</div>