<div class="container">
    <header>
        <div class="row  text-center">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <h4><span class="text-success">SHB</span> online hub Administrator</h4>
            </div>
        </div>

    </header>
    <hr>

    <section>
        <div class="d-flex justify-content-center bdrShdw ">
            <form action="/admin/add_product" method="POST" enctype="multipart/form-data">
                <p>Add &nbsp;<span><b><u>Products</u></b></span> </p>
                <div class="form-floating">
                    <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="name" required>
                    <label for="floatingInput">Name</label>
                    
                </div><br>
                <div class="form-floating">
                    <input type="number" class="form-control" id="inputAddress" name="price" placeholder="price"
                        required>
                    
                    <label for="floatingInput">Price</label>
                </div><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="inputAddress" placeholder="Size" name="size" required>
                    <label for="floatingInput">Size</label>
                </div><br>
                {{!-- add Categories from collection --}}

                <select class="form-select" aria-label="Default select example" name="category">
                    <option selected>Select Category</option>
                    {{#each category}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select><br>
                <div class="form-floating">
                    <input type="number" class="form-control" id="inputAddress" placeholder="Qauantity" min="1" step="1"
                        name="qty" required>
                <label for="floatingInput">Quantity</label>
                </div><br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="inputCity" placeholder="Description" name="description"
                        required>
                    <label for="floatingInput">Description </label>
                </div>
                <label for="" class="form-label">Images</label>
                <input class="form-control btn btn-outline-success" type="file" id="img" name="img" multiple>
                <div class="ms-auto">
                    <button type="submit" class="btn btn-outline-success"> <i
                            class="fa-solid fa-cloud-arrow-up"></i>Save</button>
                </div>


            </form>
        </div>

    </section>
</div>