<header>
    <div class="row  text-center">
        <div class="col-xl-4">
           
        </div>
        <div class="col-xl-4">
            <h4>SHB online hub Administrator</h4>
        </div>
    </div>

</header>
<hr>
<section>
    <div class="row " style="height: 35em;">

        <div class="col-2 bdrShdw">           
            <h1 class="text-center "> <p>Welcome<span><b>Admin</b></span> </p>  <i class="fa-solid fa-gears"></i></h1>

            <div class="list-group p-2 gap-4">
                <button type="button" class="list-group-item list-group-item-action "><i class="fa-solid fa-gauge-high"></i>Dash board</button>
                <button type="button" class="list-group-item list-group-item-action "><i class="fa-solid fa-list-check"></i>Orders</button>
                <button type="button" class="list-group-item list-group-item-action "><i class="fa-brands fa-product-hunt"></i>Products</button>
                <button type="button" class="list-group-item list-group-item-action "><i class="fa-solid fa-user-group"></i>Users</button>
                <button type="button" class="list-group-item list-group-item-action "><i class="fa-solid fa-file-circle-plus"></i>Add Products</button>
                <button type="button" class="list-group-item list-group-item-action "><i class="fa-solid fa-folder-plus"></i>Add Catogories</button>
                
            </div>
        </div>
        <div class="col-10 d-flex justify-content-center bdrShdw">
            <form action="" method="POST" enctype="multipart/form-data">
            <p>Add &nbsp;<span><b><u>Products</u></b></span> </h3>
                <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="Name">
                <br>
                <input type="text" class="form-control" id="inputAddress"name="price" placeholder="Price">
                <br>
                <input type="text" class="form-control" id="inputAddress" placeholder="Size" name="size">
                <br>
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-light dropdown-toggle btn-sm" data-bs-toggle="dropdown"
                        aria-expanded="false" name="category"> Category
                    </button>
                    <ul class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                    </ul>
                </div><br><br>

                <input type="text" class="form-control" id="inputAddress" placeholder="Qauantity" name="Price">
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div><br><br>

                <input type="text" class="form-control" id="inputCity" placeholder="Description" name="description">
                <br>
                <label for="inputCity" class="form-label">Image</label>
                <input class="form-control" type="file" id="formFile" name="image">
                <div class=""><button type="submit" class="btn btn-primary mt-2">submit</button></div>
                

            </form>
        </div>

    </div>

</section>