<div class="container">
    <header>
        <div class="row  text-center">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <h4><span class="text-success">SHB</span> online hub Administrator</h4>
            </div>
        </div>

    </header>
    <hr>


    <section>
        <div class="row d-flex justify-content-center text-center bdrShdw">
            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                <form action="/admin/update-categories/{{categ._id}}" method="post">
                    
                    <input type="text" class="form-control" id="cat_name" name="name" placeholder="Category"
                        value="{{categ.name}}" required>
                    <input type="text" class="form-control" id="cat_name" name="description" placeholder="Description"
                        value="{{categ.description}}" required>
                   
                    <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-cloud-arrow-up"></i>Update</button>
                </form>
            </div>
        </div>
</div>
</section>