
::placeholder{
    font-style: italic;
    font-size: small;
}

body{
    /* margin: 0;
    padding: 0; */
    overflow-x: hidden;
}

.error{
    color: red;
}
.list-group{
    width: 70%;
}

/* ........................user side................................. */
.lognMdfy{
    background-image: url("/assets/img/banner2.webp");
    height: 54.7em;
    background-size: cover;
   
    font-size: smaller;
}

.editColor input{    
    border-bottom-color: blue;
    /* border-color: blue; */
    background-color: white;
}
.signupPage{
    background-image: url("/assets/img/banner2.webp");
    background-size: cover;
    height: 37em;

}
.divtrans{
    background-color: white;
    opacity: .9;
    margin-top: 20em;
    border-radius: 2em;
}


.bdrShdw{
    
    border-radius: .5em;
     padding-top: 2em;
     
 }
 .checkout{
    box-shadow: 20px 25px 30px black;
    border-radius: 2em;
 }

 .checkoutAnthr{
    writing-mode: vertical-rl;
 }

 .zoom {
    
    transition: transform .2s;
    height: 7em;
  }
  
  .zoom:hover {
    transform: scale(2); 
  }

  .labelDesign{
    color:white;
    border-radius: 1em;
    height: 30px;
    width: 200px;
    background-color: rgb(12, 91, 12);
    margin: auto;  
    cursor: pointer;
    
  }
  .labelDesign :hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  .textTransform{
    text-shadow: 2px 2px 8px #FF0000;
  }
/* ...........................admin................................ */

.list-group a:hover{
    transform: scale(1.1);
    background-color: teal;
    color: wheat;
    /* transition: width 2s;
    width: 12em; */
    
}
.loginAdm{
    background-color: rgb(255, 255, 255);
    
    box-shadow: 5px 1px 15px rgb(0, 0, 0);
    border-radius: 2em;

}
.lognAdmMdfy{
 background-image: url("/assets/img/bckgr_squares_031.jpg");
    margin-top:7rem;
     background-size: cover;
    font-size: smaller;
}