
::placeholder{
    font-style: italic;
    font-size: small;
}

body{
    /* margin: 0;
    padding: 0; */
    overflow-x: hidden;
}

.error{
    color: red;
}

/* ........................user side................................. */
.lognMdfy{
    background-image: url("/assets/img/banner2.webp");
    background-size: cover;
    font-size: smaller;
}

.editColor input{
    border-color: blue;
    background-color: white;
}
.signupPage{
    background-image: url("/assets/img/banner2.webp");
    background-size: cover;
    height: 37em;

}
.signupPageColtrans{
    background-color: white;
    opacity: .9;
    margin-top: 20em;
    border-radius: 2em;
}

.bdrShdw{
    
    border-radius: .5em;
     padding-top: 2em;
     
 }
 .checkout{
    box-shadow: 20px 25px 30px black;
    border-radius: 2em;
 }

 .checkoutAnthr{
    writing-mode: vertical-rl;
 }

/* ...........................admin................................ */

.list-group a:hover{
    transform: scale(1.1);
    background-color: teal;
    color: wheat;
    /* transition: width 2s;
    width: 12em; */
    
}
.loginAdm{
    background-color: rgb(255, 255, 255);
    
    box-shadow: 5px 1px 15px rgb(0, 0, 0);
    border-radius: 2em;

}
.lognAdmMdfy{
 background-image: url("/assets/img/bckgr_squares_031.jpg");
    margin-top:7rem;
     background-size: cover;
    font-size: smaller;
}