
::placeholder{
    font-style: italic;
    font-size: small;
}

body{
    /* margin: 0;
    padding: 0; */
    overflow-x: hidden;
}

.error{
    color: red;
}
.list-group{
    width: 70%;
}


/* ........................user side................................. */

.lognMdfy{

    background-image: url("/assets/img/banner2.webp");
    height: 34em;
    background-size: cover;
   
    font-size: smaller;
}

.editColor input{    
    border-bottom-color: blue;
    /* border-color: blue; */
    background-color: white;
}
.textMuted label{
    color:lightgray;
}
.signupPage{
    background-image: url("/assets/img/banner2.webp");
    background-size: cover;
    height: 40em;

}
.divtrans{
    background-color: white;
    opacity: .9;
    margin-top: 20em;
    border-radius: 2em;
}


.bdrShdw{
    
    border-radius: .5em;
     padding-top: 2em;
     
 }
 .checkout{
    /* box-shadow: 1px 1px 5px black;
    border-radius: 2em; */
    opacity: .5;
 }

 .checkoutAnthr{
    writing-mode: vertical-rl;
 }

 .zoom {
    
    transition: transform .2s;
    height: 7em;
  }
  
  .zoom:hover {
    transform: scale(2); 
  }

  .labelDesign{
    color:white;
    border-radius: 1em;
    height: 30px;
    width: 200px;
    background-color: rgb(12, 91, 12);
    margin: auto;  
    cursor: pointer;
    
  }
  .labelDesign :hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  .textTransform{
    text-shadow: 2px 2px 8px #FF0000;
  }


  /* body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #212121;
    font-family: sans-serif;
  } */
  /* .box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  } */
/* Card style */

:root{
    --white: #fff;
    --color_1:blue;
    --color_2: #27ae60;
}
.product-grid{
    font-family: "Poppins",sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}
.product-grid:hover{ box-shadow: 0 0 30px rgba(0,0,0,.6); }
.product-grid .product-image{ position: relative; }
.product-grid .product-image a{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-new-label{
    color: var(--white);
    background: var(--color_2);
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    width: 15px;
    padding: 5px 3px;
    word-wrap: break-word;
    position: absolute;
    top: 0;
    left: 15px;
    transition: all .3s ease-out;
}
.product-grid .product-content{ padding: 15px 10px 10px; }
.product-grid .title{
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 8px;
}
.product-grid .title a{ color: #6d604c; }
.product-grid .title a:hover{ color: var(--color_2); }
.product-grid .price{
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 400;
}
.product-grid .product-button-group{
    background: var(--white);
    width: 100%;
    border-top: 1px solid #eee;
    opacity: 0;
    position:absolute;
    bottom: -10px;
    left: 0;
    transition: all 0.5s;
}
.product-grid:hover .product-button-group{
    opacity: 1;
    bottom: 0;
}
.product-grid .social{
    font-size: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}
.product-grid .social li{
    display: inline-block;
    width: 33%;
    height: 50px;
    line-height: 50px;
}
.product-grid .social li:nth-child(2){
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}
.product-grid .social li a{
    color: #999;
    font-size: 18px;
    display: block;
    position: relative;
    z-index: 1;
    transition: all .3s ease-out;
}
.product-grid .social li a:hover{ color: var(--color_1); }
.product-grid .social li a:before,
.product-grid .social li a:after{
    content: attr(data-tip);
    color: var(--white);
    background-color: var(--color_1);
    font-size: 12px;
    line-height: 20px;
    padding: 3px 7px;
    white-space: nowrap;
    display:none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -38px;
}
.product-grid .social li a:after{
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1;
}
.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after{
    display:block;
}
.product-grid .add-to-cart{
    color: var(--white);
    background: var(--color_1);
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    display: block;
    transition: all 0.5s;
}
.product-grid:hover .add-to-cart{
    opacity: 1;
    padding: 15px 0;
}
.product-grid .add-to-cart:hover{ background: var(--color_2); }
@media only screen and (max-width:990px){
    .product-grid{ margin: 0 0 70px; }
}

/* .divCart {
   
    width: 100%;
    height: 90%;
    overflow: auto;
  } */

  .blockuserBG{
    height: 39em;
    
  }

 

/* ...........................admin................................ */

.list-group a:hover{
    transform: scale(1.1);
    background-color: teal;
    color: wheat;
    /* transition: width 2s;
    width: 12em; */
    
}
.loginAdm{
    background-color: rgb(255, 255, 255);
    
    box-shadow: 5px 1px 15px rgb(0, 0, 0);
    border-radius: 2em;

}
.lognAdmMdfy{
 background-image: url("/assets/img/bckgr_squares_031.jpg");
    margin-top:7rem;
     background-size: cover;
    font-size: smaller;
}