
<section class="border-warning" style="position: absolute; margin-top: 4em;">
    <div class="row">
        <div class="col-xl-12">
            <div class=" list-group gap-4 ">
                <h1  class="text-center"><p>Welcome<span><b class="text-success">Admin</b></span> </p> <i class="fa-solid fa-gears"></i></h1>
                <a href="/admin/admin_home" class="list-group-item list-group-item-action border-warning"><i
                        class="fa-solid fa-gauge-high"></i>Dash board</button>
                <a href="/admin/view_orders" class="list-group-item list-group-item-action border-warning"><i
                        class="fa-solid fa-list-check"></i>Orders</button>
                <a href="/admin/view_products" class="list-group-item list-group-item-action border-warning"><i
                        class="fa-brands fa-product-hunt"></i>Products</a>
                <a href="/admin/view_users" class="list-group-item list-group-item-action border-warning"><i
                        class="fa-solid fa-user-group"></i>Users</button>
               
                <a href="/admin/add_categories" class="list-group-item list-group-item-action border-warning"><i
                        class="fa-solid fa-folder-plus"></i>Add Catogories</a>

                        <a href="/admin/signout" class="btn btn-outline-success"><i class="fa-solid fa-right-from-bracket"></i>Sign out</a>

            </div>
            </div>
        </div>
</section>
