<section>
    <div class="row " style="height: 35em;">

        <div class="col-2 bdrShdw">
            <h1 class="text-center ">
                <p>Welcome<span><b>Admin</b></span> </p> <i class="fa-solid fa-gears"></i>
            </h1>

            <div class="list-group p-2 gap-4">
                
                <button type="button" class="list-group-item list-group-item-action "><i
                        class="fa-solid fa-gauge-high"></i>Dash board</button>
                <button type="button" class="list-group-item list-group-item-action "><i
                        class="fa-solid fa-list-check"></i>Orders</button>
                <button type="button" class="list-group-item list-group-item-action "><i
                        class="fa-brands fa-product-hunt"></i>Products</button>
                <button type="button" class="list-group-item list-group-item-action "><i
                        class="fa-solid fa-user-group"></i>Users</button>
                <a href="admin/add_products" class="list-group-item list-group-item-action "><i
                        class="fa-solid fa-file-circle-plus"></i>Add Products</a>
                <button type="button" class="list-group-item list-group-item-action "><i
                        class="fa-solid fa-folder-plus"></i>Add Catogories</button>

            </div>
        </div>
</section>
