
<section class="mt-5 p-5">
    <div class="row">
            <div class= "col-2 col-md-2 col-lg-2 col-xl-2 list-group p-2 gap-4">
                <h1  class="text-center"><p>Welcome<span><b>Admin</b></span> </p> <i class="fa-solid fa-gears"></i></h1>
                <button type="button" class="list-group-item list-group-item-action "><i
                        class="fa-solid fa-gauge-high"></i>Dash board</button>
                <button type="button" class="list-group-item list-group-item-action "><i
                        class="fa-solid fa-list-check"></i>Orders</button>
                <a href="admin/view_products" class="list-group-item list-group-item-action "><i
                        class="fa-brands fa-product-hunt"></i>Products</a>
                <button type="button" class="list-group-item list-group-item-action "><i
                        class="fa-solid fa-user-group"></i>Users</button>
                <a href="admin/add_products" class="list-group-item list-group-item-action "><i
                        class="fa-solid fa-file-circle-plus"></i>Add Products</a>
                <a href="admin/add_categories" class="list-group-item list-group-item-action"><i
                        class="fa-solid fa-folder-plus"></i>Add Catogories</a>

            </div>
        </div>
</section>
